<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.igorwojda.showcase.feature.scheduling">

<!--    <dist:module-->
<!--        dist:instant="false"-->
<!--        dist:onDemand="false"-->
<!--        dist:title="@string/feature_scheduling">-->
<!--        <dist:fusing dist:include="false" />-->
<!--    </dist:module>-->

    <dist:module
        dist:instant="true"
        dist:title="@string/feature_scheduling">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>